.page-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgb(0 1 1 / 20%);
}

.main-header {
  position: relative;
  z-index: 1;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}
