.main-footer__wrapper {
  display: flex;
  margin: 0;
  flex-direction: column;
  background-color: #FFFFFF;
  align-items: center;
}

.hashtag__site {
  font-size: 21px;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 34px;
}

.main-footer__social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  gap: 6px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.social__item {
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}

.copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-top: 7px;
}

.copyright__logo {
  align-self: center;
  margin: 0;
  margin-bottom: 23px;
}
